{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/">Management home</a></li>
    <li><span>Classification list</span></li>
</ol>

<h3>Classification list</h3>

{% include 'page.html' %}

<table class="table table-hover table-striped">

    <tr>
        <th>ID</th>
        <th>classification name</th>
        <th>operation</th>
    </tr>

    {% for category in categories %}
    <tr>
        <td>{{category._id.toString()}}</td>
        <td>{{category.name}}</td>
        <td>
            <a href="/admin/category/edit?id={{category._id.toString()}}">Modify</a> |
            <a href="/admin/category/delete?id={{category._id.toString()}}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% include 'page.html' %}

{% endblock %}