{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/">Management home</a></li>
    <li><span>Add classification</span></li>
</ol>

<h3>Add classification</h3>

<form role="form" method="post">
    <div class="form-group">
        <label for="name">Classification name: </label>
        <input type="text" class="form-control" id="name" placeholder="Please classification name: " name="name">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}