{% extends 'layout.html' %}

{% block main %}

<ol class="breadcrumb">
    <li><a href="/">Front end</a></li>
    <li><span>Content list</span></li>
</ol>

<h3>Content list</h3>

{% include 'page.html' %}

<table class="table table-hover table-striped">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Author</th>
        <th>Time</th>
        <th>Reading</th>
        <th>Operation</th>
    </tr>

    {% for content in contents %}
    <tr>
        <td>{{content._id.toString()}}</td>
        <td>{{content.category.name}}</td>
        <td>{{content.title}}</td>
        <td>{{content.user.username}}</td>
        <td>{{content.addTime|date('Y/m/d H:i:s', -8*60)}}</td>
        <td>{{content.views}}</td>
        <td>
            <a href="/admin/content/edit?id={{content._id.toString()}}">Modify</a> |
            <a href="/admin/content/delete?id={{content._id.toString()}}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% include 'page.html' %}

{% endblock %}