<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
    <link href="/public/fontAwesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/public/js/jquery-1.12.4.min.js"></script>
    <script src="/public/js/index.js"></script>
</head>

<body>

<header>
    <div class="backimg"><img src="/public/images/IMG_0293.jpg"></div>
    <div class="logo"><span></span><img src="/public/images/00002637.png"></div>
</header>

<nav>
    <div class="menu">
        {%if category == ''%}
        <a href="/" class="focus">Home</a>
        {%else%}
        <a href="/">Home</a>
        {%endif%}

        {%for cate in categories%}
        {%if category == cate.id%}
        <a href="/?category={{cate.id}}" class="focus">{{cate.name}}</a>
        {%else%}
        <a href="/?category={{cate.id}}">{{cate.name}}</a>
        {%endif%}
        {%endfor%}
    </div>
</nav>


<script>

  
function getDate(){
   var myDate = new Date();
    //获取当前年
   var year = myDate.getFullYear();
   //获取当前月
   var month = myDate.getMonth() + 1;
    //获取当前日
    var date = myDate.getDate();
    var h = myDate.getHours(); //获取当前小时数(0-23)
    var m = myDate.getMinutes(); //获取当前分钟数(0-59)
    var s = myDate.getSeconds();
   //获取当前时间
   return  now = year + '-' + conver(month) + "-" + conver(date) + " " + conver(h) + ':' + conver(m) + ":" + conver(s);
}
//日期时间处理
function conver(s) {
return s < 10 ? '0' + s : s;
}


      var socket = new WebSocket('ws://localhost:3000');
    socket.addEventListener('open', function (event) {
        console.log('socket is open')
    });


    socket.addEventListener('message', function (event) {


        console.log('Message from server', event.data);
        $('#msg').html("Some common<br>"+event.data+"<br>"+getDate()).fadeIn();
        setTimeout(function(){
            $('#msg').fadeOut();
        },3000)
    });  
</script>
<main class="clear">
    <div class="mainLeft">
        {%block content%}{%endblock%}
    </div>

    <div class="mainRight">


        {% if userInfo._id %}
        <div class="rightBox" id="userInfo">
            <div class="title"><span>User Information</span></div>
            <p><span class="colDark">{{userInfo.username}}</span></p>

            {% if userInfo.isAdmin %}
            <p>
                <span class="colDanger">Hello, administrator!</span><br>
                <a href="/admin">Enter the management interface.</a>
            </p>
            {% else %}
            <p><span class="colDanger">Hello, welcome to my blog!</span></p>
            {% endif %}


            <p><span id="msg"></span></p>

            <p><span class="colDark"><a href="javascript:;" id="logout">Exit</a></span></p>
        </div>
        {% else %}
        <div class="rightBox" id="loginBox">
            <div class="title"><span>Login</span></div>
            <div class="line"><span class="colDark">Username: </span><input name="username" type="text" /><em></em></div>
            <div class="line"><span class="colDark">Password: </span><input name="password" type="password" /><em></em></div>
            <div class="line"><span class="colDark"></span><button>Login</button></div>
            <p class="textRight">Not registered yet?<a href="javascript:;" class="colMint">Immediately registered!</a>　</p>
            <p class="colWarning textCenter"></p>
        </div>

        <div class="rightBox" id="registerBox" style="display: none;">
            <div class="title"><span>Registered</span></div>
            <div class="line"><span class="colDark">Username: </span><input name="username" type="text" /></div>
            <div class="line"><span class="colDark">Password: </span><input name="password" type="password" /></div>
            <div class="line"><span class="colDark">Confirmation: </span><input name="repassword" type="password" /></div>
            <div class="line"><span class="colDark"></span><button>Registered</button></div>
            <p class="textRight">Already have an account?<a href="javascript:;" class="colMint">Login immediately</a>　</p>
            <p class="colWarning textCenter"></p>
        </div>
        {%endif%}

        <div class="rightBox">
            <div class="title"><span>Community</span></div>
            <p><a href="https://www.w3schools.com" target="_blank" class="colDanger">W3c</a></p>
            <p><a href="https://www.codecademy.com" target="_blank" class="colDanger">codecademy</a></p>
        </div>
    </div>


</main>

<div class="copyright textCenter">Copyright © Linfeng Guan All rights reserved 2019</div>
</body>
</html>